@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "./variables";
@import "./mixins";

body {
  margin: 0px;
  @include roboto;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1400px;
}

nav {
  background-color: $mediumPrimary;

  .logo {
    max-height: 45px;
  }

  ul {
    li {
      padding: 0px 20px;
      a {
        text-decoration: none;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-size: 12px;
        transition: 0.3s ease-in-out;
      }
    }
  }
}

.heading-medium {
  @include heading();
  font-size: 3em;
}

.my-bttn {
  @include bttnStyle();
}

#order-request-modal {
  .modal-header {
    background-color: $lightPrimary;

    h3 {
      padding: 0;
    }
  }
}

#intro-section {
  min-height: 20vh;
  max-height: 70vh;
  overflow: hidden;

  #banner-img-div {
    position: absolute;
    z-index: 1;

    #banner-img {
      max-width: 25%;
      border-radius: 15px;
      background-color: hsla(104, 35%, 67%, 0.76);
      margin: 0 0 0 0;

      @media screen and (min-width: 1200px) {
        max-width: 375px;
      }
    }
  }
}

#about-section {
  min-height: 50vh;
  padding: 30px 0px;
  background-color: $lightComplementary;

  .body-copy {
    margin: 0;
    font-size: 1rem;
  }

  h1 {
    margin: 0;
    padding: 0;
    color: $lightPrimary;
    font-size: 8vw;

    @media screen and (max-width: 575px) {
      font-size: 15vw;
    }
    @media screen and (min-width: 1200px) {
      font-size: 95px;
    }
  }

  span.accent-text {
    color: $lightSecondary;
    font-style: italic;
  }
}

#featured-products-section {
  min-height: 50vh;
  background-color: $mediumSecondary;
  padding-bottom: 30px;

  .heading-medium {
    color: $lightComplementary;
  }

  #featured-products-div {
    .product-thumb {
      max-width: 100%;
      border-radius: 5px;
      transition: 0.5s;
      border: 2px solid white;
    }

    .product-thumb:hover {
      cursor: pointer;
      transform: scale(1.02);
    }
  }

  #feature-modal {
    img {
      width: 100%;
    }
  }
}

#capabilities-section {
  min-height: 30vh;
  background-color: $lightPrimary;

  #capabilities-div {
    .capability-heading {
      padding: 0;
      font-size: 1.5rem;
      color: $mediumPrimary;
    }

    .capability-item {
      padding: 10px;
    }

    .center-item {
      border-left: 1.5px solid $mediumPrimary;
      border-right: 1.5px solid $mediumPrimary;
    }
  }
}

#pricing-section {
  .heading-medium {
    color: $mediumPrimary;
  }

  h2 {
    color: $lightPrimary;
  }
}

#contact-section {
  min-height: 30vh;
  background-color: $mediumPrimary;
  padding-bottom: 30px;

  .heading-medium {
    color: $lightComplementary;
  }

  .body-copy {
    color: $lightComplementary;
    font-weight: 400;
    max-width: 700px;
  }

  .contact-link{
    color: white;
    text-decoration: underline;
  }
}

#bio-div{
  img{
    border-radius: 10px;
  }

  a{
    color: $lightPrimary;
  }
}

#products-page-body {
  background-color: $mediumSecondary;
}

#products-div {
  padding: 1%;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);

  .card {
    height: 300px;
    width: 300px;
    min-width: 300px;
    border: hidden;
    border-radius: 10px;
    box-shadow: none;
    transition: 500ms;

    .product-img-div {
      background-repeat: no-repeat;
      background-size: cover;
      background-origin: content-box;
      height: 80%;

      img {
        max-width: 40%;
      }
    }

    .card-img-top {
      max-height: 75%;
      padding: 25% 0 0 0;
      width: 100%;
    }

    .card-body {
      height: 20%;
      border: 3px solid $mediumPrimary;
      border-radius: 50px;
      background-color: $mediumPrimary;
    }

    .card-title {
      @include roboto;
      font-size: 0.8em;
      font-weight: bolder;
      color: $lightComplementary;
    }
  }

  .card:hover {
    box-shadow: 2px 2px 10px 2px #0000000e;
    cursor: pointer;
    transform: scale(1.1);
  }
}

.contact-link {
  color: $lightPrimary;
}

footer {
  background-color: $mediumPrimary;
  div.container {
    display: flex;
    padding-bottom: 50px;

    ul {
      list-style: none;
      padding-left: 0;

      li {
        color: $lightPrimary;
      }

      .bold-weight {
        font-weight: 800;
      }

      .footer-contact-info {
        font-size: 16px;
      }
    }

    #footer-nav {
      li {
        padding: 0px 20px;
        a {
          text-decoration: none;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          font-size: 12px;
          color: $lightPrimary;
        }

        a:hover {
          color: $lightComplementary;
        }
      }
    }
  }
}
