@mixin mobileStyle {
  .wrapper {
    margin: 0 auto;
    width: 85%;
  }

  .heading-medium {
    @include heading();
    padding: 30px 0px;
    font-size: 20px;
  }

  #intro-section {
    background-image: url(../images/shirt-model2.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 25% 0%;

    & #banner-img-div {
      padding: 60px 0 0 0;

      & #banner-img {
        max-width: 200px;
        padding: 5%;
      }
    }
  }

  #about-section {
    padding: 15px 0px;
    .body-copy {
      font-size: 16px;
      line-height: 1.5em;
    }

    & div.wrapper {
      flex-direction: column;

      & .twoCol {
        & h3 {
          font-size: 40px;
          padding-top: 20px;
        }
      }

      & .accent-text {
        font-size: 14px;
      }
    }
  }

  #featured-products-section {
    button {
      font-size: 0.5em;
    }

    & #featured-products-div {
      & .product-thumb {
        min-width: unset;
        width: 50%;
        height: 150px;
      }
    }
  }

  #capabilities-section {
    padding-bottom: 15px;

    & #capabilities-div {
      flex-wrap: wrap;
      & .capability-heading {
        font-size: 12px;
      }
    }
  }

  #contact-section {
    & #form-div {
      & #contact-form {
        width: 100%;
      }
    }
  }

  #about-us-div {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;

    & .twoCol {
      flex: auto;
      // padding-right: 2%;
    }

    & #headshot-div {
      min-height: 200px;
    }

    // & p.body-copy {
    //   margin: 0px;
    //   text-overflow: ellipsis;
    //   max-width: 700px;
    //   padding-bottom: 20px;
    // }
  }

  #projects-div {
    & .project {
      height: 350px;
      min-width: 200px;
      padding-bottom: 1%;
    }
  }

  footer {
    & div.wrapper {
      padding-bottom: 30px;

      & .footer-col {
        & .footer-contact-info {
          font-size: 12px;
          color: $lightPrimary;
        }
      }

      & #footer-menu {
        & li {
          padding: 0px 20px;
          line-height: 0.7em;
          & a {
            font-size: 10px;
          }
        }
      }
    }
  }
}
