@mixin tabletStyle {
  #intro-section {

    & #banner-img-div {
      padding: 70px 0 0 0;
      position: absolute;
      z-index: 1;
      

      & #banner-img {
        max-width: 200px;
        border-radius: 20px;
        background-color: hsla(104, 35%, 67%, 0.76);
        padding: 3%;
        margin: 0 0 0 0%;
      }
    }
  }
  #about-section {
    .body-copy {
      font-size: 18px;
    }

    & div.wrapper {
      & .twoCol {
        & h3 {
          font-size: 70px;
        }
      }
    }
  }

  #featured-products-section {
    min-height: 50vh;

    & #featured-products-div {
      & .product-thumb {
        min-width: 350px;
        min-height: 300px;
        flex: 1;
      }
    }
  }

  #capabilities-section {
    padding-bottom: 0px;

    & .capability-heading {
      font-size: 12px;
    }
  }

  #contact-section {
    min-height: 30vh;
    & #form-div {
      & #contact-form {
        width: 80%;
      }
    }
  }
}
