@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "./variables";
@import "./mixins";

body {
  margin: 0px;
  @include roboto;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1400px;
}

nav {
  background-color: $mediumPrimary;

  .logo {
    max-height: 45px;
  }

  ul {
    li {
      padding: 0px 20px;
      a {
        text-decoration: none;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-size: 12px;
        transition: 0.3s ease-in-out;
      }
    }
  }
}

.heading-medium {
  @include heading();
  font-size: 3em;
}

.bold-weight {
  font-weight: 800;
}

#order-request-modal {
  .modal-header {
    background-color: $lightPrimary;

    h3 {
      padding: 0;
    }
  }
}

#intro-section {
  min-height: 20vh;
  max-height: 70vh;
  overflow: hidden;

  #banner-img-div {
    position: absolute;
    z-index: 1;

    #banner-img {
      max-width: 25%;
      border-radius: 15px;
      background-color: hsla(104, 35%, 67%, 0.76);
      margin: 0 0 0 0;

      @media screen and (min-width: 1200px) {
        max-width: 375px;
      }
    }
  }
}

#about-section {
  min-height: 50vh;
  padding: 30px 0px;
  background-color: $lightComplementary;

  .body-copy {
    margin: 0;
    font-size: 1rem;
  }

  h1 {
    margin: 0;
    padding: 0;
    color: $lightPrimary;
    font-size: 8vw;

    @media screen and (max-width: 575px) {
      font-size: 15vw;
    }
    @media screen and (min-width: 1200px) {
      font-size: 95px;
    }
  }

  span.accent-text {
    color: $lightSecondary;
    font-style: italic;
  }
}

#featured-products-section {
  min-height: 50vh;
  background-color: $mediumSecondary;
  padding-bottom: 30px;

  #featured-products-carousel {
    height: 50vh;
    overflow: hidden;
  }

  .heading-medium {
    color: $lightComplementary;
  }

  button {
    @include bttnStyle();
  }

  button:hover {
    color: $lightComplementary;
    background-color: $lightPrimary;
  }

  #featured-products-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .product-thumb {
      flex-grow: 1;
      background-color: $lightPrimary;
      background-size: 100%;
      background-repeat: no-repeat;
      transition: 0.5s;
    }

    .product-thumb:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }
}

#capabilities-section {
  min-height: 30vh;
  background-color: $lightPrimary;

  #capabilities-div {
    .capability-heading {
      padding: 0;
      font-size: 1.5rem;
      color: $mediumPrimary;
    }

    .capability-item {
      padding: 10px;
    }

    .center-item {
      border-left: 1.5px solid $mediumPrimary;
      border-right: 1.5px solid $mediumPrimary;
    }
  }
}

#pricing-section{
  .heading-medium{
    color: $mediumPrimary;
  }

  h2{
    color: $lightPrimary;
  }
}

#contact-section {
  min-height: 30vh;
  background-color: $mediumPrimary;
  padding-bottom: 30px;

  .heading-medium {
    color: $lightComplementary;
  }

  .body-copy {
    color: $lightComplementary;
    font-weight: 100;
    max-width: 700px;
  }
}

#products-page-body {
  background-color: $mediumSecondary;
}

#products-div {
  padding: 1%;
  border-radius: 5px;
  background-color: rgb(240, 239, 239);

  .card {
    min-height: 300px;
    min-width: 300px;
    border: hidden;
    border-radius: 10px;

    .product-img-div {
      background-repeat: no-repeat;
      background-size: cover;
      background-origin: content-box;
      min-height: 50%;

      img {
        max-width: 40%;
      }
    }

    .card-img-top {
      max-height: 75%;
      width: 100%;
      overflow: hidden;
    }

    .card-body {
      min-height: 50%;
    }
  }
}

footer {
  background-color: $mediumPrimary;
  div.container {
    display: flex;
    padding-bottom: 50px;

    .footer-col {
      flex: 1;
      display: flex;
      flex-direction: column;

      .footer-contact-info {
        font-size: 16px;
        color: $lightPrimary;
      }
    }

    #footer-menu {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 0px 20px;
        a {
          text-decoration: none;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          font-size: 12px;
          color: $lightPrimary;
        }

        a:hover {
          color: $lightComplementary;
        }
      }
    }
  }
}
