@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1400px;
}

.heading-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mobile-menu-bttn-div {
  display: none;
}

nav {
  background-color: #4d774e;
  max-height: 100%;
}

nav .logo {
  max-width: 60px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav ul li {
  padding: 0px 20px;
}

nav ul li a {
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
  color: #9dc88d;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #f1b24a;
}

.heading-medium {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.2em;
  padding: 50px 0px;
  margin: 0;
  font-family: "Bebas Neue", cursive;
}

.page-heading {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.2em;
  padding: 50px 0px;
  margin: 0;
  font-family: "Bebas Neue", cursive;
  font-weight: 800;
}

.bold-weight {
  font-weight: 800;
}

#intro-section {
  height: 75vh;
  background-color: #9dc88d;
}

#about-section {
  min-height: 50vh;
  padding: 30px 0px;
  background-color: #ffffff;
}

#about-section button {
  cursor: pointer;
  text-transform: uppercase;
  max-height: 40px;
  font-size: 0.75em;
  font-weight: 400;
  color: #d69326;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 10px 20px;
  min-width: 50px;
  border: none;
  background-color: white;
  color: #d69326;
  margin-right: auto;
}

#about-section button:hover {
  color: #ffffff;
  background-color: #9dc88d;
}

#about-section .body-copy {
  margin: 0;
}

#about-section h3 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.2em;
  padding: 50px 0px;
  margin: 0;
  font-family: "Bebas Neue", cursive;
  margin: 0;
  padding: 0;
  color: #9dc88d;
}

#about-section span.accent-text {
  color: #f1ce95;
  font-style: italic;
}

#featured-products-section {
  min-height: 50vh;
  background-color: #f1b24a;
  padding-bottom: 30px;
}

#featured-products-section #featured-products-carousel {
  height: 50vh;
  overflow: hidden;
}

#featured-products-section .heading-medium {
  color: #ffffff;
}

#featured-products-section button {
  cursor: pointer;
  text-transform: uppercase;
  max-height: 40px;
  font-size: 0.75em;
  font-weight: 400;
  color: #d69326;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 10px 20px;
  min-width: 50px;
  border: none;
  background-color: white;
}

#featured-products-section button:hover {
  color: #ffffff;
  background-color: #9dc88d;
}

#featured-products-section #featured-products-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#featured-products-section #featured-products-div .product-thumb {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #9dc88d;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#featured-products-section #featured-products-div .product-thumb:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#capabilities-section {
  min-height: 25vh;
  background-color: #9dc88d;
  padding-bottom: 50px;
}

#capabilities-section #capabilities-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#capabilities-section #capabilities-div .capability-heading {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.2em;
  padding: 50px 0px;
  margin: 0;
  font-family: "Bebas Neue", cursive;
  font-weight: 800;
  padding: 0;
  font-size: 20px;
  color: #4d774e;
}

#capabilities-section #capabilities-div .capability-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px;
}

#capabilities-section #capabilities-div .center-item {
  border-left: 1.5px solid #4d774e;
  border-right: 1.5px solid #4d774e;
}

#contact-section {
  min-height: 50vh;
  background-color: #4d774e;
  padding-bottom: 30px;
}

#contact-section .heading-medium {
  color: #ffffff;
}

#contact-section .body-copy {
  color: #ffffff;
  font-weight: 100;
  max-width: 700px;
}

#contact-section ::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: #164a41;
}

#contact-section :-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: #164a41;
}

#contact-section ::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  color: #164a41;
}

#contact-section ::placeholder {
  font-family: "Roboto", sans-serif;
  color: #164a41;
}

#contact-section #form-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact-section #form-div #contact-form {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contact-section #form-div #contact-form input[type="text"] {
  background: #9dc88d;
  border: none;
  padding: 10px 10px;
  margin: 10px;
  min-width: 40%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#contact-section #form-div #contact-form input[type="text"]:focus {
  outline: none;
}

#contact-section #form-div #contact-form textarea {
  background: #9dc88d;
  border: none;
  padding: 10px 10px;
  margin: 10px;
  width: 100%;
}

#contact-section #form-div #contact-form textarea:focus {
  outline: none;
}

#contact-section #form-div #contact-form #submit-bttn-div {
  margin: 0 auto;
}

#contact-section #form-div #contact-form #submit {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 10px 20px;
  width: 100%;
  border: 1px solid #9dc88d;
  background-color: transparent;
}

#contact-section #form-div #contact-form #submit:hover {
  background: #f1b24a;
}

select {
  margin-bottom: 30px;
}

#products-page-body {
  background-color: #f1b24a;
}

#projects-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1%;
  border-radius: 15px;
  background-color: #f1ce95;
}

#projects-div .card {
  min-height: 350px;
  max-width: 300px;
}

#projects-div .card .card-img-top {
  max-height: 75%;
  width: 100%;
  overflow: hidden;
}

#projects-div .card .card-body {
  z-index: 1;
}

#projects-div .project {
  background-color: #f1ce95;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 400px;
  min-width: 300px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-size: cover;
  margin: 1%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px #164a41;
          box-shadow: 0px 4px #164a41;
}

#projects-div .project img {
  height: 100%;
  width: 100%;
}

#projects-div .project .project-description {
  font-size: 11px;
}

#projects-div .project:hover {
  cursor: pointer;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  -webkit-box-shadow: none;
          box-shadow: none;
}

#about-us-div p.body-copy {
  margin: 0px;
  text-overflow: ellipsis;
  max-width: 700px;
  padding-bottom: 20px;
}

footer {
  background-color: #4d774e;
}

footer div.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}

footer div.wrapper .footer-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer div.wrapper .footer-col .footer-contact-info {
  font-size: 16px;
  color: #9dc88d;
}

footer div.wrapper #footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer div.wrapper #footer-menu li {
  padding: 0px 20px;
}

footer div.wrapper #footer-menu li a {
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
  color: #9dc88d;
}

footer div.wrapper #footer-menu li a:hover {
  color: #ffffff;
}

@media only screen and (max-width: 500px) {
  .wrapper {
    margin: 0 auto;
    width: 85%;
  }
  .heading-medium {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.2em;
    padding: 50px 0px;
    margin: 0;
    font-family: "Bebas Neue", cursive;
    padding: 30px 0px;
    font-size: 20px;
  }
  #intro-section {
    background-image: url(../images/shirt-model2.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 25% 0%;
  }
  #intro-section #banner-img-div {
    padding: 60px 0 0 0;
  }
  #intro-section #banner-img-div #banner-img {
    max-width: 200px;
    padding: 5%;
  }
  #about-section {
    padding: 15px 0px;
  }
  #about-section .body-copy {
    font-size: 16px;
    line-height: 1.5em;
  }
  #about-section div.wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-section div.wrapper .twoCol h3 {
    font-size: 40px;
    padding-top: 20px;
  }
  #about-section div.wrapper .accent-text {
    font-size: 14px;
  }
  #featured-products-section button {
    font-size: 0.5em;
  }
  #featured-products-section #featured-products-div .product-thumb {
    min-width: unset;
    width: 50%;
    height: 150px;
  }
  #capabilities-section {
    padding-bottom: 15px;
  }
  #capabilities-section #capabilities-div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #capabilities-section #capabilities-div .capability-heading {
    font-size: 12px;
  }
  #contact-section #form-div #contact-form {
    width: 100%;
  }
  #about-us-div {
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-us-div .twoCol {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  #about-us-div #headshot-div {
    min-height: 200px;
  }
  #projects-div .project {
    height: 350px;
    min-width: 200px;
    padding-bottom: 1%;
  }
  footer div.wrapper {
    padding-bottom: 30px;
  }
  footer div.wrapper .footer-col .footer-contact-info {
    font-size: 12px;
    color: #9dc88d;
  }
  footer div.wrapper #footer-menu li {
    padding: 0px 20px;
    line-height: 0.7em;
  }
  footer div.wrapper #footer-menu li a {
    font-size: 10px;
  }
}

@media only screen and (min-width: 501px) {
  #intro-section {
    background-image: url(../images/shirt-model2.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -90% 0%;
  }
  #intro-section #banner-img-div {
    padding: 70px 0 0 0;
  }
  #intro-section #banner-img-div #banner-img {
    max-width: 350px;
  }
  #about-section .body-copy {
    font-size: 18px;
  }
  #about-section div.wrapper .twoCol h3 {
    font-size: 70px;
  }
  #featured-products-section {
    min-height: 50vh;
  }
  #featured-products-section #featured-products-div .product-thumb {
    min-width: 350px;
    min-height: 300px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #capabilities-section {
    padding-bottom: 0px;
  }
  #capabilities-section .capability-heading {
    font-size: 12px;
  }
  #contact-section {
    min-height: 30vh;
  }
  #contact-section #form-div #contact-form {
    width: 80%;
  }
}

@media only screen and (min-width: 1025px) {
  #intro-section {
    background-image: url(../images/shirt-model2.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 95% 0%;
  }
  #intro-section #banner-img-div {
    padding: 50px 0 0 0;
  }
  #intro-section #banner-img-div #banner-img {
    max-width: 450px;
  }
  #about-section .body-copy {
    font-size: 20px;
    line-height: 1.4em;
  }
  #about-section div.wrapper .twoCol h3 {
    font-size: 100px;
    letter-spacing: 0.1em;
  }
  #about-section div.wrapper .accent-text {
    color: #d69326;
    font-style: italic;
  }
  #featured-products-section #featured-products-div .product-thumb {
    min-width: 500px;
    min-height: 400px;
  }
  #capabilities-section {
    padding-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */